<%= form_with(model: quote, local: true) do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vehicle_id %>
    <%= form.collection_select :vehicle_id, Vehicle.available, :id, :vehicle_details %>
    <p>Base Price <span id="price"></span></p>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.collection_select :customer_id, Customer.all, :id, :full_name %>
  </div>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.collection_select :employee_id, Employee.is_sales_person, :id, :full_name %>
  </div>

  <div class="field">
    <%= form.label :term %>
    <%= form.select :term, [['3 years', 3], ['4 years', 4], ['5 years', 5]] %>
  </div>

  <div class="field">
    <%= form.label :sold %>
    <%= form.check_box :sold %>
  </div>


  <div>
    <h4>eventually will use derived calculations</h4>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
