<%= form_with(model: quote, local: true) do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vehicle_id %>
    <%= form.collection_select :vehicle_id, Vehicle.all, :id, :vehicle_details %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.collection_select :customer_id, Customer.all, :id, :full_name %>
  </div>

  <div class="field">
    <%= form.label :sales_person_id %>
    <%= form.collection_select :sales_person_id, SalesPerson.all, :id, :full_name %>
  </div>

  <div class="field">
    <p><%= form.label :term %> in years</p>
    <%= form.select(:term, ['3', '4', '5']) %>
  </div>

  <div class="field">
    <p>Price: <%= %></p>

  </div>

  <div>
    <h4>derived and calculated prices go here</h4>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
