<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Customer</th>
      <th>Sales person</th>
      <th>Wholesale price</th>
      <th>Markup price</th>
      <th>Total price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.vehicle %></td>
        <td><%= quote.customer %></td>
        <td><%= quote.sales_person %></td>
        <td><%= quote.wholesale_price %></td>
        <td><%= quote.markup_price %></td>
        <td><%= quote.total_price %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
