<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @quote.vehicle.vehicle_details %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.full_name %>
</p>

<p>
  <strong>Sales person:</strong>
  <%= @quote.sales_person.full_name %>
</p>

<p>
  <strong>Wholesale price:</strong>
  <%= number_to_currency(@quote.vehicle.price) %>
</p>

<p>
  <strong>Markup price:</strong>
  <%= number_to_currency(@quote.markup_price) %>
</p>

<p>
  <strong>Total price:</strong>
  <%= number_to_currency(@quote.vehicle.price + @quote.markup_price) %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
