<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @quote.vehicle.vehicle_details %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.full_name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @quote.employee.full_name %>
</p>

<p>
  <strong>Wholesale price:</strong>
  <%= number_to_currency(@quote.vehicle.price) %>
</p>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
