<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @quote.vehicle.vehicle_details %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.full_name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @quote.employee.full_name %>
</p>

<p>
  <strong>Wholesale price:</strong>
  <%= number_to_currency(@quote.vehicle.price) %>
</p>

<p>
  <strong>Fees:</strong>
  <%= number_to_currency(@quote.mark_up_amt) %>
</p>

<p>
  <strong>Sales Tax:</strong>
  <%= number_to_currency(@quote.tax_amt) %>
</p>

<p>
  <strong>Interest Rate %:</strong>
  <%= 100 * (Quote.interest_rate) %>
</p>

<p>
  <strong>Total Amount</strong>
  <%= number_to_currency(@quote.total_amt) %>
</p>

<p>
  <strong>Term:</strong>
  <%= @quote.term.to_i %>
</p>

<p>
  <strong># of Payments:</strong>
  <%= @quote.number_payments %>
</p>

<p>
  <strong>Quartely Payment:</strong>
  <%= number_to_currency(@quote.ammortization_payments) %>
</p>
<% if current_user.role == 'finance' || current_user.role == 'admin' %>
<p>Ammoritization Schedule for <%=@quote.vehicle.vehicle_details%></p>
<table>
  <thead>
    <tr>
      <th>Payment</th>
      <th>Starting Balance</th>
      <th>Interest</th>
      <th>Principal</th>
      <th>Remaining Balance</th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% balance = @quote.total_amt%>
    <% interest = @quote.a_interest(balance)%>
    <% prin = @quote.ammortization_payments - interest %>
    <% @quote.number_payments.times do %>
    <tr class="<%= cycle('odd', 'even')%>">
      <td><%= i %></td>
      <td><%= number_to_currency(balance) %></td>
      <td><%= number_to_currency(interest)%></td>
      <td><%= number_to_currency(prin) %></td>
      <td><%= number_to_currency(balance - prin) %></td>
    </tr>
    <% balance = (balance - prin) %>
    <% interest = @quote.a_interest(balance)%>
    <% prin = @quote.ammortization_payments - interest%>
    <% i += 1 %>
    <% end %>
  </tbody>
</table>
<% end %>


<%= link_to 'PDF', quote_path(@quote, format: 'pdf') %> |
<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
