<table class="report">
  <thead>
    <% if employee.employee_type.name == 'Sales Manager' %>
    <tr>
      <td>Manager Name</td>
      <td>Team Size</td>
    </tr>
    <% else %>
    <tr>
      <td><strong>Sales Person</strong></td>
      <td><strong>Finalized Quotes</strong></td>
    </tr>
  </thead>
  <% end %>
  <tbody>
    <tr class="odd">
      <td><%= employee.full_name %></td>
      <% if employee.employee_type.name == 'Sales Manager' %>
      <td><%= employee.subordinates.size %></td>
      <% else %>
      <td><%= employee.quotes.is_sold.size %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<% if employee.subordinates %>
<%= render employee.subordinates %>
  <% if employee.quotes %>
  <%= render employee.quotes.is_sold %>
  <% end %>
<% end %>
