<h1>Sales Reports</h1>

<p>Find me in app/views/report/index.html.erb</p>


<table>
  <thead>
    <tr>
      <th>Sales Manager</th>
      <th>Team Size</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.is_sales_manager.each do |employee| %>
      <tr>
        <td><%= employee.full_name %></td>
        <td>Sales Team: <%= employee.subordinates.size%></td>
      </tr>
      <% if employee.subordinates %>
      <% employee.subordinates.each do |subordinate| %>
      <tr>
        <td><%= subordinate.full_name %></td>
        <td>Total Active Quotes <%= subordinate.quotes.size %></td>
      </tr>
      <% if subordinate.quotes %>
      <% subordinate.quotes.each do |quote| %>
      <table>
        <thead>
          <tr>
            <th>Customer</th>
            <th>Vehicle</th>
            <th>Base Price</th>
            <th>Fees</th>
            <th>Tax</th>
            <th>Total</th>
            <th>Term</th>
            <th>Number of Payments</th>
            <th>Monthly Payment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= quote.customer.full_name%></td>
            <td><%= quote.vehicle.vehicle_details%></td>
            <td><%= quote.wholesale_price%></td>
            <td><%= quote.markup_price%></td>
            <td><%= quote.tax%></td>
            <td><%= quote.total_price%></td>
            <td><%= quote.term%></td>
            <td><%= quote.number_payments%></td>
            <td><%= quote.monthly_payment%></td>
          </tr>
        </tbody>
      </table>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
