<h1>Executive Summary</h1>
<table>
  <thead>
    <tr>
      <th>Total Sales People</th>
      <th>Total Sales</th>
      <th>Gross Revenue</th>
      <th>Net Profit</th>
      <th>Tax Total</th>
    </tr>
  </thead>
  <tbody>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= @sales_people.size %></td>
      <td><%= @quotes.size%></td>
      <td><%= number_to_currency(@quotes.to_a.sum(&:total_amt))%></td>
      <td><%= number_to_currency(@quotes.to_a.sum(&:mark_up_amt))%></td>
      <td><%= number_to_currency(@quotes.to_a.sum(&:tax_amt))%></td>
    </tr>
  </tbody>
</table>
