<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vin %>
    <%= form.text_field :vin %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.select :color, [['Black'], ['Blue'], ['Red'], ['Gray'], ['Yellow'], ['Green'], ['Orange'], ['White'],
                             ['Silver'], ['Navy Blue'], ['Gold'], ['Brown'], ['Beige'], ['Light Brown'],
                             ['Dark Red'], ['Burgundy'], ['Bright Red'], ['Maroon'], ['Purple'], ['Pink'],
                             ['Metallic White'], ['Metallic Green'], ['Metallic Red'], ['Metallic Blue'],
                             ['Metallic Black'], ['Metallic Orange'], ['Metallic Grey'], ['Metallic Yellow'],
                             ['Metallic Gold'], ['Metallic Purple'], ['Gunmetal Grey'], ['Aqua Blue']]  %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.select :make, [['Acura'], ['Alfa Romeo'], ['Aston Martin'], ['Audi'], ['Bentley'], ['BMW'], ['Bugatti'],
                            ['Buick'], ['Cadillac'], ['Chevrolet'], ['Chrysler'], ['Citroen'], ['Dodge'], ['Ferrari'],
                            ['Fiat'], ['Ford'], ['Geely'], ['General Motors'], ['GMC'], ['Honda'], ['Hyundai'],
                            ['Infiniti'], ['Jaguar'], ['Jeep'], ['Kia'], ['Koenigsegg'], ['Lamborghini'], ['Land Rover'],
                            ['Lexus'], ['Maserati'], ['Mazda'], ['McLaren'], ['Mercedes-Benz'], ['Mini'], ['Mitsubishi'],
                            ['Nissan'], ['Pagani'], ['Peugeot'], ['Porsche'], ['Ram'], ['Renault'], ['Rolls Royce'],
                            ['Saab'], ['Subaru'], ['Suzuki'], ['Tata Motors'], ['Tesla'], ['Toyota'], ['Volkswagen'],
                            ['Volvo']] %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :vehicle_image %>
    <%= form.file_field :vehicle_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
