<p id="notice"><%= notice %></p>

<p>
  <strong>Vin:</strong>
  <%= @vehicle.vin %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@vehicle.price) %>
</p>
<%if @vehicle.vehicle_image.attached? %>
<p>
  <strong>Vehicle Image:</strong>
  <%= image_tag @vehicle.vehicle_image %>
</p>
<%end %>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
