<p id="notice"><%= notice %></p>

<h1>Sales People</h1>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Manager</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_people.each do |sales_person| %>
      <tr>
        <td><%= sales_person.last_name %></td>
        <td><%= sales_person.first_name %></td>
        <td><%= sales_person.manager.full_name %></td>
        <td><%= link_to 'Show', sales_person %></td>
        <td><%= link_to 'Edit', edit_sales_person_path(sales_person) %></td>
        <td><%= link_to 'Destroy', sales_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales Person', new_sales_person_path %>
