<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Customer</th>
      <th>Sales person</th>
      <th>Wholesale price</th>
      <th>Markup price</th>
      <th>Tax</th>
      <th>Total price</th>
      <th>Term</th>
      <th>Quartely Payment</th>
      <th>Number of Payments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.vehicle.vehicle_details %></td>
        <td><%= quote.customer.full_name %></td>
        <td><%= quote.employee.full_name %></td>
        <td><%= number_to_currency(quote.wholesale) %></td>
        <td><%= number_to_currency(quote.mark_up_amt) %></td>
        <td><%= number_to_currency(quote.tax_amt) %></td>
        <td><%= number_to_currency(quote.total_amt) %></td>
        <td><%= quote.term %></td>
        <td><%= number_to_currency(quote.ammortization_payments) %></td>
        <td><%= quote.number_payments.to_i %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>

<br>
