<h1>Vehicular Manslaughter</h1>
  <div class="navigation-bar">
  <%= link_to 'Customers', customers_path %>
  <%= link_to 'Sales People', sales_people_path %>
  <%= link_to 'Managers', managers_path %>
  <%= link_to 'Models', models_path %>
  <%= link_to 'Quotes', quotes_path %>
  <%= link_to 'Vehicles', vehicles_path %>
</div>