<!DOCTYPE html>
<html>
  <head>
    <title>CisRailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="grid-containter">
    <%= render 'layouts/form_nav' %>
    <nav id="menu">
      <%= render 'layouts/form_menu' %>
      <% if account_signed_in?%>
      <%= render MenuPresenter.which_menu(current_account.role) %>
      <% end %>
    </nav>
    <%= yield %>
  </div>
  </body>
</html>
